<!doctype html>
<html>
<head>
    <title>Add Student</title>
</head>
<body>
    <form action="/student-add" method="POST">
        <label>Enter first name:
            <input type="text" name="first_name">
        </label>
        <br><label>Enter last name:
            <input type="text" name="last_name">
        </label>
        <br><label>Enter GitHub username:
            <input type="text" name="github">
        </label>
        <br><input type="submit" value="Enter New Student">
    </form>

</body>
</html>